name: RestAssuredTests - Single Test Suite

on:
  workflow_dispatch:
    inputs:
      testSuite:
        description: 'Test Suite to be executed'
        required: true
        default: 'RegressionSuite'
        type: choice
        options:
          - PojoSuite
          - RegressionSuite
          - SpecSuite

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Run single test suite
      working-directory: ./RestAssuredTests
      run: mvn test -DtestSuite=${{inputs.testSuite}}
    - name: Archive test results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: RestAssuredTests/target/surefire-reports